@tailwind base;
@tailwind components;
@tailwind utilities;

/* hidding arrows  Chrome, Safari, Edge */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  @apply appearance-none;
  -webkit-appearance: none;
  margin: 0;
}

/* hidding arrows  Firefox */
.quantity-input {
  @apply appearance-none;
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
  margin: 0;
}

.section {
  @apply flex flex-col items-center justify-center text-center pb-10;
}

.sectionTitle {
  @apply text-3xl md:text-5xl font-medium p-4 text-center;
}

.sectionSubtitle {
  @apply text-gray-500 text-center text-sm px-3;
}

.sectionBtn {
  @apply bg-primary border-primary border-2 p-4 px-16 text-white hover:bg-white hover:text-black uppercase mt-4;
}

.textH {
  @apply font-medium text-black inline;
}

.inputForm {
  @apply border border-gray-300 rounded-sm p-2 my-2 cursor-pointer hover:border-primary;
}
.quantity-wrapper {
  @apply flex items-center overflow-hidden w-fit;
}

.btn-qty {
  @apply bg-primary text-white cursor-pointer focus:outline-none rounded-full flex items-center justify-center w-12 h-12;
  position: relative;
  height: 24px;
  width: 24px;
}

.btn-qty:hover {
  @apply bg-[#d25574];
}

.btn-qty::before,
.btn-qty::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: white;
}

.btn-qty-up::before {
  transform: rotate(90deg);
}

.quantity-input {
  @apply w-16 text-center bg-white text-gray-700 text-base focus:outline-none border border-gray-300 mx-1;
}

.product-desc h1 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: inline;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.product-desc h1 + ul,
.product-desc h1 + ol {
  margin-top: 20px;
}

.product-desc p {
  margin-bottom: 10px;
}

.product-desc ul {
  margin-bottom: 10px;
  list-style-position: inside;
}

.product-desc ul li {
  list-style-type: circle;
  padding-left: 10px;
}

.product-desc ol {
  margin-bottom: 10px;
  list-style-position: inside;
}

.product-desc ol li {
  list-style-type: decimal;
  padding-left: 10px;
}
